* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CD5C5C;
  font-family: 'Dongle', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

.head h2 {
  border: 2px solid white;
  border-radius: 10px;
  background-color: black;
  padding: 10px;
  color: white;
  font-size: 35px;
  text-align: center;
}

.head {
  text-align: center;
}

.changer {
  color: blue
}

.btn {
  font-size: 20px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  letter-spacing: 1.5px;
  color: black;
  outline: none;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background-color: black;
  color: white;
  transition: all 0.25s ease-in;
}